<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Page</title>

    <!-- fontawsome 설정 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    
    <!-- CSS 설정 -->
    <link rel="stylesheet" th:href="@{/css/user.css}">
    
    <!-- JQuery 설정 -->
    <script th:src="@{/script/jquery-3.7.1.min.js}"></script>
    <script>
        $(function(){
            $("#userId").on('keyup',confirm);
        })

        function confirm() {
            let userId = $(this).val();

            if (userId.trim().length <3 || userId.trim().length>5) {
                $("#confirmID").css("color","red");
                $("#confirmID").html("길이는 3~5글자 사이");
                return;
            }
            $.ajax({
                url:"/user/confirmId",
                method:"GET",
                async:false, // 비동기 통신 -> 동기 통신으로 : 응답이 오기 전에 밑에 코드를 진행할 수도 있기 때문에 막아줌
                data:{"userId":userId},
                success:function(resp){
                    if (!resp) {
                        $("#confirmID").css("color", "blue");
                        $("#confirmID").html("사용가능한 아이디");
                        $("#submitBtn").attr("disabled",false);
                    }else{
                        $("#confirmID").css("color", "red");
                        $("#confirmID").html("사용중인 아이디");
                    }
                }
            })
            


        }


    </script>

</head>
<body>
    <div class="container">
        <div class="logo">
            <a th:href="@{/}"> <img th:src="@{/img/logo.png}" alt=""> </a>
            <h2>회원가입</h2>
        </div>
    </div> <!-- .container 끝-->

    <div class="content">
        <form th:action="@{/user/joinProc}" method="post">

            <div class="section pointColor">
                <div class="article">
                    <ul>
                        <li>
                            <i class="fa-solid fa-fingerprint"></i>
                            <input type="text" name="userId" id="userId" placeholder="ID">
                            <span id="confirmID" style="font-size: 0.7em;"></span>
                        </li>
                        
                        <li>
                            <i class="fa-solid fa-lock"></i>
                            <input type="password" name="userPwd" id="userPwd" placeholder="Password">
                        </li>
                        <li>
                            <i class="fa-solid fa-user"></i>
                            <input type="text" name="userName" id="userName" placeholder="Name">
                        </li>
                        <li>
                            <i class="fa-solid fa-envelope"></i>
                            <input type="email" name="email" id="email" placeholder="Email">
                        </li>
                    </ul>

                    <div class="btns">
                        <input type="reset" id="resetBtn" value="초기화" class="btn btn-secondary">
                        <input type="submit" id="submitBtn" value="회원가입" class="btn btn-primary" disabled>
                    </div>

                </div>
            </div>

        </form>

    </div>


</body>
</html>