<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h3>친구정보</h3>
    <div>
        이름 : <span th:text="${friend.fname}">이름</span> <br>
        나이 : <span th:text="${friend.age}">나이</span> <br>
        전화번호 : <span th:text="${friend.phone}">전화번호</span> <br>
        생년월일 : <span th:text="${friend.birthday}">생년월일</span> <br>
        성향 : <span th:text="${friend.active}">성향</span>
    </div>
    
</body>
</html>