<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시판</title>

    <!-- css 설정 -->
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body>
    <input type="hidden" id="loginUserName" th:value="${loginUserName}">
    <div class="container">
        <div class="logo">
            <img th:src="@{/img/logo.png}" alt="">
            <!-- <img src="../static/img/logo.png" alt=""> -->
            <h2>회원 전용 게시판</h2>
        </div>

        <div class="gnb">
            <ul>
                <!-- 인증이 되지 않은 사람 -->
                <li sec:authorize="isAnonymous()"><a th:href="@{/user/join}">회원가입</a> </li>
                <li sec:authorize="isAnonymous()"><a th:href="@{/user/login}">로그인</a> </li>

                <!-- 인증이 된 사람 -->
                <!-- <li sec:authorize="isAuthenticated()"><a th:href="@{/user/logout}">[[${#authentication.name}]]님, 로그아웃</a> </li> --> <!--로그인 아이디로-->
                <li sec:authorize="isAuthenticated()"><a th:href="@{/user/logout}">[[${loginUserName}]]님, 로그아웃</a> </li> <!--로그인 이름으로-->
                <li sec:authorize="hasRole('ROLE_ADMIN')"> <a th:href="@{/predict}">머신러닝 붓꽃예측</a> </li> <!--로그인 이름으로-->
                <!-- <li sec:authorize="isAuthenticated()"><a th:href="@{/predict}">머신러닝 붓꽃예측</a> </li> 로그인 이름으로 -->

                <!-- 인증과 관계없음 -->
                <li><a th:href="@{/board/boardList}">게시판</a> </li>
            </ul>
        </div>

        <!-- 인증 관련 정보 출력 (삭제할 것)-->
        <!-- ROLE_ADMIN 계정을 가지고 있으면 아래 내용 출력-->
        <h2 sec:authorize="hasRole('ROLE_ADMIN')">관리자</h2>
        
        <!-- ROLE_USER 계정을 가지고 있으면 아래 내용 출력-->
        <h2 sec:authorize="hasRole('ROLE_USER')">인증된 사용자</h2>

        <!-- ROLE_ANANYMOUS 계정을 가지고 있으면 아래 내용 출력-->
        <h2 sec:authorize="hasRole('ROLE_ANONYMOUS')">낯선 사용자</h2>

        <br>
        <!-- 어느 권한이건 상관없이 인증이 되었다면 -->
        <h2 sec:authorize="isAuthenticated()">인증 완료됨</h2>

        <!-- 인증이 되지 않았다면 -->
        <h2 sec:authorize="isAnonymous()">인증되지 않음</h2>
        
        <!-- 인증 시 사용된 username -->
        Username : <h2 sec:authentication="name"></h2>
        
        <!-- 인증 시 사용된 객체 정보 -->
        Principal : <h2 sec:authentication="principal"></h2>
        
        
    </div><!--.container 끝-->


</body>

</html>