<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 목록</title>

    <!-- css 설정 -->
    <link rel="stylesheet" th:href="@{/css/list.css}">

    <!-- JQuery 설정 -->
    <script th:src="@{/script/jquery-3.7.1.min.js}"></script>

</head>

<body>
    <input type="hidden" id="replyCountMap" th:value="${replyCountMap}">

    <div class="container">
        <div class="logo">
            <a th:href="@{/}"> <img th:src="@{/img/logo.png}" alt=""> </a>
            <h2>게시글 목록</h2>
        </div>
    </div> <!-- .container 끝-->


    <div class="content">

        <input type="hidden" id="contextPath" th:value="${contextPath}">

        <div class="head">
            <div class="count">
                <p>게시글 개수 : [[${list.getTotalElements()}]] </p>
            </div>

            <!-- 검색창  -->
            <div class="search">
                <form id="searchForm" th:action="@{/board/boardList}">
                    <input type="hidden" name="page" id="requestPage" th:value="${page}">
                    <select name="searchItem" id="">
                        <option value="boardTitle"   th:selected="${searchItem=='boardTitle'}">글제목</option>
                        <option value="boardWriter"  th:selected="${searchItem=='boardWriter'}">작성자</option>
                        <option value="boardContent" th:selected="${searchItem=='boardContent'}">글내용</option>
                    </select>
                    <input type="text" name="searchWord" placeholder="검색어를 입력하세요" th:value="${searchWord}">
                    <input type="submit" value="검색" class="btn btn-info">
                </form>
            </div> <!--.search 끝-->
        </div> <!--.head 끝-->

        <!-- 게시글 목록 -->
        <div>
            <!-- list.number : [[${list.number}]] / list.size : [[${list.size}]] -->
            <table> 
                <tr>
                    <th class="no">글번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>조회수</th>
                    <th>작성일</th>
                </tr>

                <tr th:if="${#lists.isEmpty(list)}">
                    <td colspan="5">게시글이 존재하지 않습니다.</td>
                </tr>

                <!-- 반복 구간 -->
                <tr th:unless="${#lists.isEmpty(list)}" th:each="board, status : ${list}">
                    <td th:text="${(list.number+1)*list.size - (list.size-status.count)}"></td>
                    <td><a th:href="@{/board/boardDetail(boardNum=${board.boardNum}, searchItem=${searchItem}, searchWord=${searchWord})}" th:text="${board.boardTitle}"></a>
                        <!-- 댓글 수 -->
                        <!-- <input type="hidden" id="boardNumForReply" th:val="${board.boardNum}"> -->
                        <th:block th:if="${board.replyCount!=0}">
                            <span id="replyCount">([[${board.replyCount}]])</span>
                        </th:block>
                        <!-- 첨부파일 여부 -->
                        <span th:if="${board.originalFileName}!=null">
                            <img th:src="@{/img/clip.png}" alt="첨부파일" width="17px">
                        </span>
                    </td>
                    <td th:text="${board.boardWriter}">홍길동</td>
                    <td th:text="${board.hitCount}">22</td>
                    <td th:text="*{#temporals.format(board.createDate, 'yyyy-MM-dd HH:mm:ss')}">2024-03-12</td>
                </tr>

            </table>
        </div> <!-- .table 끝-->

        <!-- 글쓰기 버튼(2024.3.12.도연생성) -->
        <div class="write">
            <a th:href="@{/board/boardWrite}" class="btn btn-primary">글쓰기</a>
        </div>


        <!-- 페이지 네비게이션 -->
        <nav class="pagination">
            <!--앞 그룹 (<<)-->
            <!--2번 그룹 이상의 위치를 보고 있을 때-->
            <th:block th:if="${navi.startPageGroup>1}">
                <a class="page-no navi" th:href="|javascript:pageFormSubmit(${navi.startPageGroup-1})|">&laquo;</a> 
            </th:block>
            <!--1번 그룹을 보고 있을 때는 링크가 생기면 안됨(앞그룹이 존재하지 않기 때문)-->
            <th:block th:unless="${navi.startPageGroup>1}">
                <span class="page-no navi">&laquo;</span> 
            </th:block>
            
            <!--앞 페이지(<)-->
            <!--2페이지 이상의 페이지를 보고 있으면 링크 생김-->
            <th:block th:if="${navi.page>1}">
                <a class="page-no navi" th:href="|javascript:pageFormSubmit(${navi.page-1})|">&lsaquo;</a>
            </th:block>
            <!--1페이지를 보고 있으면 링크 생기지 않음-->
            <th:block th:unless="${navi.page>1}">
                <span class="page-no navi">&lsaquo;</span>
            </th:block>
            
            <!--페이지 번호 출력-->
            <span th:each="count : ${#numbers.sequence(navi.startPageGroup, navi.endPageGroup)}">
                <!--보고 있는 페이지가 요청한 페이지와 같을 때는 링크 안생김-->
                <span th:if="${count==navi.page}">
                    <b class="page-no current" th:text="${count}"></b>
                </span>
                <span th:unless="${count==navi.page}">
                    <a  class="page-no" th:href="|javascript:pageFormSubmit(${count})|" th:text="${count}"></a>
                </span>
            </span>
            
            <!--뒤 페이지 (>)-->
            <!--다음 페이지가 있을 때는 링크가 생기면 안됨-->
            <th:block th:if="${navi.totalPages > (navi.page)}">
                <a class="page-no navi" th:href="|javascript:pageFormSubmit(${navi.page+1})|">&rsaquo; </a>
            </th:block>
            <!--마지막 페이지라면 링크가 생기면 안됨-->
            <th:block th:unless="${navi.totalPages > (navi.page)}">
                <span class="page-no navi" >&rsaquo; </span>
            </th:block>
            
            <!--뒤 그룹 (>>)-->
            <!--다음 그룹이 아니라면 링크가 생겨야 함-->
            <th:block th:if="${navi.currentGroup < navi.totalGroupCount}">
                <a class="page-no navi" th:href="|javascript:pageFormSubmit(${navi.endPageGroup+1})|">&raquo; </a>
            </th:block>
            <!--마지막 그룹이라면 링크가 생기면 안됨-->
            <th:block th:unless="${navi.currentGroup < navi.totalGroupCount}">
                <span class="page-no navi" >&raquo; </span>
            </th:block>

        </nav>

    </div>



    <script th:inline="javascript">

        function pageFormSubmit(page) {
            document.getElementById("requestPage").value = page;
            document.getElementById("searchForm").submit();
        }

    </script>


</body>

</html>