<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시글 조회</title>

    <!-- css 설정 -->
    <link rel="stylesheet" th:href="@{/css/detail.css}">

    <!-- JQuery 설정 -->
    <script th:src="@{/script/jquery-3.7.1.min.js}"></script>
    <script>
        $(function(){
            $("#boardLikeBtn").on("click",increaseBoardFavorite);
            $("#replyBtn").on("click", replyWrite);
            init();
        })

        // 게시글 좋아요
        function increaseBoardFavorite() {
            let me = $(this);
            let boardNum = $("#boardNum").val();
            let contextPath = $("#contextPath").val();

            // 클릭 여부
            let isClicked = $(this).attr("data-click");
            let count = 0;

            if (isClicked == "false") { // 좋아요를 줬을 경우
                count = 1;
                me.attr('data-click', 'true');
            } else { // 좋아요 취소한 경우
                count = -1;
                me.attr('data-click', 'false');
            }

            $.ajax({
                url: contextPath + "/board/incrementFavoriteCount",
                method: "GET",
                data: {"boardNum": boardNum, "count": count},
                success: function (resp) {
                    $("#boardLikeCount").html(resp);
                }
            })
        }

        // 모든 댓글 내용을 읽어오는 함수
        function init() {
            let contextPath = $("#contextPath").val();
            let boardNum = $("#boardNum").val();

            // 게시글 좋아요 값 설정
            let boardFavoriteCount = $("#boardFavoriteCount").val();
            $("#boardLikeCount").html(boardFavoriteCount);

            $.ajax({
                url:contextPath+"/reply/replyAll",
                method:"GET",
                data : {"boardNum":boardNum},
                success:output
            })
        }

        function output(resp) {
            console.log("전체출력");
            console.log(resp);
            let result = "";

            $.each(resp,function (index, item){
                let replyNum = item["replyNum"];
                let replyWriter = item["replyWriter"];
                let replyText = item["replyText"];
                let createDate = item["createDate"];
                let favorite = item["favorite"];
                
                result +=   `<tr>
                                <td>${replyNum}</td>
                                <td>${replyWriter}</td>
                                <td>${replyText}</td>
                                <td>${createDate}</td>
                                <td>
                                    <input type="button" class="likeBtn" value="♡ ${favorite}" data-no="${replyNum}" data-click="false">
                                    <input type="button" class="delBtn" value="삭제" data-no="${replyNum}">
                                    <input type="button" class="updateBtn" value="수정" data-no="${replyNum}">
                                </td>
                            </tr>`;
            })
            $("#target").html(result);
            $(".delBtn").on("click", deleteReply);
            $(".updateBtn").on("click", updateReply);
            $(".likeBtn").on("click", likeReply);
        }   
        
        // 댓글을 등록하는 함수
        function replyWrite() {
            let replyText = $("#replyText").val();
            let boardNum = $("#boardNum").val();
            let contextPath = $("#contextPath").val();
            
            if(replyText.trim().length ==0){
                alert("댓글 내용을 입력하세요");
                $("#replyText").focus();
                return;
            }

            let sendData = {"replyWriter":"손오공", "replyText":replyText, "boardNum": boardNum}
            
            console.log(JSON.stringify(sendData)); 

            $.ajax({
                url:contextPath+"/reply/replyInsert",
                method:"POST",
                data: sendData,
                success:function(resp){
                    let replyNum = resp["replyNum"];
                    let replyWriter = resp["replyWriter"];
                    let replyText = resp["replyText"];
                    let createDate = resp["createDate"];

                    let data = `<tr>
                                    <td>${replyNum}</td>
                                    <td>${replyWriter}</td>
                                    <td>${replyText}</td>
                                    <td>${createDate}</td>
                                    <td>
                                        <input type="button" class="likeBtn" value="♡ 0" data-no="${replyNum}" data-click="false">
                                        <input type="button" class="delBtn" value="삭제" data-no="${replyNum}">
                                        <input type="button" class="updateBtn" value="수정" data-no="${replyNum}">
                                    </td>
                                </tr>`;
                    $("#replyText").val(""); // input 상자 초기화
                    $("#target").prepend(data);
                    $(".delBtn").on("click", deleteReply);
                    $(".updateBtn").on("click", updateReply);
                    $(".likeBtn").on("click", likeReply);
                    
                }
            })
        }

        // 댓글 삭제
        function deleteReply() {
            if(!confirm("정말 삭제하시겠습니까?")){
                return;
            }
            let me = $(this);
            let replyNum = $(this).attr("data-no");
            let contextPath = $("#contextPath").val();
            $.ajax({
                url:contextPath+"/reply/replyDelete",
                method:"GET",
                data:{"replyNum": replyNum },
                success:function(resp){
                    if(resp){
                        me.parent().parent().remove();
                    }
                }
            })
        }
        
        // 댓글 수정
        function updateReply() {
            let replynum = $(this).attr("data-no");
        }

        // 댓글 좋아요
        function likeReply() {
            let me = $(this); 
            let replyNum = $(this).attr("data-no");
            let contextPath = $("#contextPath").val();
            
            // 클릭 여부
            let isClicked = $(this).attr("data-click");
            let count=0;
            let heart="♡";
            
            if(isClicked=="false"){ // 좋아요를 줬을 경우
                count=1;
                me.attr('data-click', 'true'); 
                heart="♥";
            }else{ // 좋아요 취소한 경우
                count=-1;
                me.attr('data-click', 'false');
                heart="♡";
            }

            $.ajax({
                url: contextPath + "/reply/incrementFavorite",
                method: "GET",
                data: { "replyNum": replyNum, "count": count},
                success: function (resp) {
                    console.log("좋아요DB적용");
                    let new_val = `${heart} ${resp}`;
                    me.val(new_val);
                }
            })
        }

    </script>

</head>

<body>
    <div class="container">
        <div class="logo">
            <a th:href="@{/}"> <img th:src="@{/img/logo.png}" alt=""> </a>
            <h2>게시글 보기</h2>
        </div>
    </div> <!-- .container 끝-->

    <!-- 글보기 -->
    <div class="content">

        <input type="hidden" id="boardNum" th:value="${board.boardNum}">    
        <input type="hidden" id="boardFavoriteCount" th:value="${board.favoriteCount}">
        <input type="hidden" id="contextPath" th:value="${contextPath}">
        
        <div class="like">
            <img th:src="@{/img/like.png}" id="boardLikeBtn" alt="좋아요" data-click="false">
            <span id="boardLikeCount"></span>
        </div> 

        <table border="1">
            <tr>
                <th>작성자</th>
                <td>
                    <span th:text="${board.boardWriter}">작성자</span>
                </td>
            </tr>
            <tr>
                <th>글제목</th>
                <td>
                    <span th:text="${board.boardTitle}">글제목</span>
                </td>
            </tr>
            <tr>
                <th>작성일</th>
                <td>
                    <span th:text="${board.createDate}">작성일</span>
                </td>
            </tr>
            <tr>
                <th>수정일</th>
                <td>
                    <span th:text="${board.updateDate}">수정일</span>
                </td>
            </tr>
            <tr>
                <th>글내용</th>
                <td>
                    <pre>[[${board.boardContent}]]</pre>
                </td>
            </tr>
            <tr>
                <th>첨부파일</th>
                <td>
                    <span th:if="${board.originalFileName}!=null" class="attach">
                        <a th:href="@{/board/download(boardNum=${board.boardNum})}" th:text="${board.originalFileName}"> bts.jpg</a>
                    </span>
                </td>
            </tr>
            <tr>
                <th colspan="2">
                    <a th:href="@{/board/boardUpdate(boardNum=${board.boardNum}, searchItem=${searchItem}, searchWord=${searchWord})}" class="btn btn-primary">수정</a>
                    <a th:href="@{/board/boardDelete(boardNum=${board.boardNum}, searchItem=${searchItem}, searchWord=${searchWord})}" class="btn btn-danger">삭제</a>
                    <a th:href="@{/board/boardList(searchItem=${searchItem}, searchWord=${searchWord})}" class="btn btn-info">목록</a>
                </th>
            </tr>
        </table>
        
        <!-- 댓글 입력 부분 : 로그인한 사람만 가능 -->
        <div class="reply-write">
            <input type="text" id="replyText" placeholder="댓글 내용 입력">
            <input type="button" id="replyBtn" class="btn-info btn" value="댓글작성">
        </div>

        <!-- 댓글 목록 출력 부분 -->
        <div id="reply-list">
            <table id="target">
                <tr>
                    <th>댓글번호</th>
                    <th>작성자</th>
                    <th>댓글내용</th>
                    <th>작성일</th>
                    <th></th>
                </tr>
            </table>
        </div>
    
    </div> <!--.content 끝-->

    
        
    







</body>

</html>