<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thymeleaf text 출력</title>
</head>
<body>
	
    <h2>Thymeleaf text 출력</h2>
	<div>
	    <a th:href="@{/}"> <img th:src="@{/images/home.png}" alt="logo"> </a>	<!-- 외부 파일과 함께 쓰려면 th:를 붙여줌 -->
	</div>

    <h3>1. 문자 출력</h3>
    <p>한글 : <span th:text="${korean}">한글</span></p>
    <p>영어 : <span th:text="${english}">영어</span></p>
    <p>나이 : <span th:text="${age}">정수</span></p>
    <p>파이 : <span th:text="${pi}">실수</span></p>
    
    <p>태그 : <span th:text="${tag}">html태그</span></p> <!-- tag를 문자열로 인식함 -->
    <p>태그 : <span th:utext="${tag}">html태그</span></p> <!-- utext : tag를 tag로 인식함 -->
    
    <p>url : <span th:text="${url}">NAVER</span></p> <!-- url을 그냥 문자열로 인식 -->
    <p>url : <a th:href="${url}" th:text="${url}" >NAVER</a></p> <!-- a태그 이용: url에 링크를 걸고자 함. @{}형식 아니어도 됨 -->
    <p>url : <a th:href="${url}" >NAVER</a></p> <!--th:text="${url}" 가 없으면.. NAVER에 태그가 걸림  -->

	<hr>
	<h3>2. 태그 안쪽에 Thymeleaf 문법 사용 시</h3>
    <p>한글 : [[${korean}]] </p>
    <p>한글 : ${korean} </p>

	<hr>
	<h3>3. 객체 데이터(FriendDTO) 꺼내기 (초기화되지 않은 데이터)</h3>
	<p>전체 데이터 : [[${f1}]]</p>
	<p>이름 : [[${f1.fname}]]</p>
	<p>전화번호 : [[${f1.phone}]]</p>
	<p>나이 : [[${f1.age}]]</p>
	<p>생년월일 : [[${f1.birthday}]]</p>
	<p>성향 : [[${f1.active}]]</p>
	
	<hr>
	<h3>4. 객체 데이터(FriendDTO) 꺼내기 (초기화된 데이터) - 1</h3>
	<p>전체 데이터 : <span th:text="${f2}">삼장법사</span> </p>
	<p>이름 : <span th:text="${f2.fname}">삼장법사</span> </p>
	<p>전화번호 : <span th:text="${f2.phone}">삼장법사</span> </p>
	<p>나이 : <span th:text="${f2.age}">삼장법사</span> </p>
	<p>생년월일 : <span th:text="${f2.birthday}">삼장법사</span> </p>
	<p>성향 : <span th:text="${f2.active}">삼장법사</span> </p>

	
	<hr>
	<h3>5. 객체 데이터(FriendDTO) 꺼내기 (초기화된 데이터) - 2</h3>
	<p th:object="${f3}">
		이름 : <span th:text="*{fname}">사오정</span> <br>
		전화번호 : <span th:text="*{phone}">사오정</span> <br>
		나이 : <span th:text="*{age}">사오정</span> <br>
		생년월일 : <span th:text="*{birthday}">사오정</span> <br>
		성향 : <span th:text="*{active}">사오정</span> <br>
	</p>


	<hr>
	<h3>6. 숫자 데이터 출력(일반) </h3>
	<p>
		정수 : <span th:text="${n1}">정수</span> <br>
		실수 : <span th:text="${n2}">실수</span> <br>
		실수 : <span th:text="${n3}">실수</span> <br>
	</p>
	
	
	
	<hr>
	<h3>7. 숫자 데이터 출력(포맷팅) </h3>
	<p>
		정수(자릿수=10) : <span th:text="${#numbers.formatInteger(n1, 10)}">정수</span> <br>
		정수 : <span th:text="${#numbers.formatInteger(n1, 3, 'COMMA')}">정수</span> <br>
		실수 : <span th:text="${#numbers.formatDecimal(n2, 3, 'COMMA', 2, 'POINT')}">실수</span> <br> <!-- POINT는 무조건 COMMA와 같이 써야 함 -->
		실수 : <span th:text="${#numbers.formatDecimal(n3, 3, 'COMMA', 4, 'POINT')}">실수</span> <br>
		실수 : <span th:text="${#numbers.formatPercent(n4,0,5)}">실수</span> <br>
		실수 : <span th:text="${#numbers.formatPercent(n4,2,2)}">실수</span> <br>
		실수 : <span th:text="${#numbers.formatPercent(n4,3,2)}">실수</span> <br>
		실수 : <span th:text="${#numbers.formatPercent(n4,0,0)}">실수</span> <br> <!-- 0은 유효자리만큼만 -->
		Currency : <span th:text="${#numbers.formatCurrency(n1)}"></span>
	</p>
	
	<hr>
	<h3>8. 날짜 데이터 출력(일반) </h3>
	<p>
		date : 			<span th:text="${date}">date</span> <br>	
		calendar : 		<span th:text="${calendar}">date</span> <br>	
		localDate : 	<span th:text="${localDate}">date</span> <br>		
		localDateTime : <span th:text="${today}">date</span> <br>	
	</p>


	<hr>
	<h3>9. 날짜 데이터 출력(포맷 : 시간을 12시간제로 하려면 hh 사용) </h3>
	<p>
		date : 			<span th:text="${#dates.format(date,'yyyy년 MM월 dd일 HH시 mm분')}">date</span> <br>	
		calendar : 		<span th:text="${#calendars.format(calendar,'yyyy/MM/dd HH:mm')}">date</span> <br>	
		localDate : 	<span th:text="${#temporals.format(localDate, 'yyyy년 MM월 dd일')}">date</span> <br>
		localDate : 	<span th:text="${#temporals.format(localDate, 'yyyy년 MM월 dd일 HH:mm')}">date</span> <br>	<!-- LocalDate는 시간 정보 없기 때문에 00:00으로 나옴 -->	
		localDateTime : <span th:text="${#temporals.format(today,'yyyy년 MM월 dd일 HH:mm')}">date</span> <br>	
	</p>
	
	
	
	
	

</body>
</html>































